<!DOCTYPE html>
<html>
  <head>
    <title>Quack</title>
      <%= favicon_link_tag asset_path('duck.ico'), :rel => 'icon', :type => "image/x-icon"%>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <script type="text/javascript">
      window.slackURL = "<%= image_url('home.png') %>";
    </script>
    <script type="text/javascript">
      window.col1 = "<%= image_url('homepage1.gif') %>";
    </script>
    <script type="text/javascript">
      window.profileURL = "<%= image_url('demoprofile.png') %>";
    </script>
        <script type="text/javascript">
      window.plant = "<%= image_url('plant.png') %>";
    </script>
    <script type="text/javascript">
      window.logo = "<%= image_url('ducklogo.png') %>";
    </script>
        <script type="text/javascript">
      window.main2 = "<%= image_url('main2.gif') %>";
    </script>
    

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": "<%= current_user.id %>",
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>",
        }
      </script>
    <% end %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
